{% import "_imports/_utils" as utils %}

<section class="feature comparison full">
	<article>
		{% include "_includes/_border-heading" with {'tag': 'h4', 'bottom': true, 'text': feature.heading} %}
		<div>{{ feature.body }}</div>
	</article>
	<figure {%if feature.fadeEnabled %}class="fade-enabled"{% endif %}>
		{% set firstImage = feature.images[0] %}
		{% set actualImageWidth = utils.getActualImageWidth(firstImage, 960) %}
		<div class="comparison-container" style="width:{{actualImageWidth}}px">
			<div class="images-container" style="padding-bottom:{{ firstImage.height/firstImage.width*100 }}%">
				<div class="inner">
				{% for image in feature.images %}
				    <div class="image-container">
				    	<img {{ utils.srcset(image, 960) }} draggable="false">
				    </div>
				{% endfor %}
				</div>
				<div class="wiper-container">
					<div class="inner">
						<div class="wiper"></div>
					</div>
				</div>
			</div>
			<figcaption>
				<p>{{ feature.firstCaption }}</p>
				<p>{{ feature.secondCaption }}</p>
			</figcaption>
		</div>
	</figure>
</section>