{% set Copy = {} %}

{% for _copy in contactForm.dictionary %}
	{% set Copy = Copy|merge({(_copy.id): _copy.text}) %}
{% endfor %}

<div id="contact-form">

	<button class="icon icon-close close"></button>

	<div class="compose">
		<h3>{{ Copy.heading }}</h3>

		<form method="post" action="" accept-charset="UTF-8" autocomplete="off">
		    {{ getCsrfInput() }}
		    <input name="action" type="hidden" value="contactForm/sendMessage">
			<input name="honeypot" type="text" class="hidden">

			<fieldset class="name">
			    <legend>{{ Copy.name }}</legend>
			    <input id="from-name" name="fromName" type="text" value="" placeholder="">
			    <label class="hint" for="from-name">
			    	<span class="not-filled">{{ Copy.pleaseFill }}</span>
			    </label>
			</fieldset>

			<fieldset class="email">
		    	<legend>{{ Copy.email }}</legend>
		    	<input id="from-email" name="fromEmail" type="text" value="" placeholder="">
		    	<label class="hint" for="from-email">
		    		<span class="not-filled">{{ Copy.pleaseFill }}</span>
		    		<span class="invalid">{{ Copy.invalidEmail }}</span>
		    	</label>
			</fieldset>

			<fieldset class="message">
		    	<legend>{{ Copy.message }}</legend>
		    	<textarea id="message" name="message" rows="1" maxlength="1000"></textarea>
		    	<div class="textarea" name="message" contentEditable="plaintext-only"></div>
		    	<label class="hint" for="message">
		    		<span class="not-filled">{{ Copy.pleaseFill }}</span>
		    		<span class="too-short">{{ Copy.messageTooShort }}</span>
		    	</label>
			</fieldset>

			<button type="submit" class="bordered-button" data-text="{{ Copy.send }}">
				<span>{{ Copy.send }}</span>
			</button>

		    <input type="hidden" value="{{ Copy.send }}" class="send" data-copy-send="{{ Copy.send }}" data-copy-sending="{{ Copy.sending }}">
		</form>
	</div>

	<div class="result">
		<div class="success">
			<div class="inner">
				<h3>{{ Copy.sentHeading }}</h3>
				<p>{{ Copy.sentSubheading|replace({'. ': '.<br>'})|raw }}</p>
			</div>
		</div>

		<div class="fail">
			<div class="inner">
				<p>{{ Copy.failHeading|replace({'. ': '.<br>'})|raw }}</p>

				{% include "_includes/_bordered-button"
						with {'classes': 'again', 'tag': 'button', 'text': Copy.tryAgain} %}
			</div>
		</div>
	</div>

</div>