{% import "_imports/_utils" as utils %}

<section class="feature media {{ feature.layout }}">
	{% if feature.heading or feature.body %}
	<article {% if feature.layout == 'fluid' %}data-sticky="true"{% endif %}>
		{% if feature.heading %}
		{% include "_includes/_border-heading" with {'tag': 'h4', 'bottom': true, 'text': feature.heading} %}
		{% endif %}

		{% if feature.body %}
		<div>{{ feature.body }}</div>
		{% endif %}
	</article>
	{% endif %}

	{% set device = (feature.device != 'none' ? feature.device : null) %}
	{% set mediaColumns = min(feature.media|length, 3) %}

	<figure class="media-col-{{mediaColumns}} {% if feature.media|length == 0 %}no-media{% endif %}">
	{% for media in feature.media %}
		{% switch media.getExtension() %}
		    {% case "mp4" %}
		        <div class="video" style="max-width:{{ media.videoWidth }}px;">
		        	<div class="aspect-container"
		        		style="padding-bottom:{{ media.videoHeight/media.videoWidth*100 }}%">
			        	<div class="movable">
			        		{% include "_includes/_video-player" with {'video': media} %}
			        	</div>
			        </div>
			        {% if feature.showMediaTitle %}
			        <figcaption>{{ media.title }}</figcaption>
			        {% endif %}
		        </div>

		    {% default %}
		    	{% set actualImageWidth = utils.getActualImageWidth(media, 960) %}
		        <div class="image {{device}} {% if device != null %}device{% endif %}" style="max-width:{{ actualImageWidth }}px;"
		        	{% if feature.allowEnlarge and media.width >= 960 %}data-allow-enlarge{% endif %}>
		        	<div class="aspect-container" {% if device == null %}style="padding-bottom:{{ media.height/media.width*100 }}%"{% endif %}>
			        	<div class="movable">
			        		{% if device != null %}<div class="case"></div>{% endif %}
			        		<div class="image-container">
			        			<img {% if media.outline %}class="outline"{% endif %} {{ utils.srcset(media, 960) }} {{ utils.dataMaxSize(media, 960) }} draggable="false">
			        		</div>
			        	</div>
		        	</div>
		        	{% if feature.showMediaTitle %}
			        <figcaption>{{ media.title }}</figcaption>
			        {% endif %}
		        </div>
		{% endswitch %}
	{% endfor %}
	</figure>
</section>