<div id="passcode-form">

	<button class="icon icon-close close"></button>

	<div class="compose">
		<h3>{{ Copy.passcodeTitle }}</h3>

		<form method="post" action="" accept-charset="UTF-8" autocomplete="off">
		    {{ getCsrfInput() }}
		    <input name="action" type="hidden" value="contactForm/sendMessage">
			<input name="honeypot" type="text" class="hidden">

			<fieldset class="passcode">
			    <input id="passcode" name="passcode" type="text" placeholder="" maxLength="12">
			</fieldset>

			<button type="submit" class="bordered-button" data-text="{{ Copy.passcodeSubmit }}">
				<span>{{ Copy.passcodeSubmit }}</span>
			</button>

		    <input type="hidden" value="{{ Copy.passcodeSubmit }}" class="send">
		</form>
	</div>

</div>