{% import "_imports/_utils" as utils %}

<section class="feature responsive full">
	<article>
		{% include "_includes/_border-heading" with {'tag': 'h4', 'bottom': true, 'text': feature.heading} %}
		<div>{{ feature.body }}</div>
	</article>
	<figure>
		<div class="desktop device">
			{% set image = feature.desktopScreen[0] %}
			<div class="container" {% if feature.allowEnlarge and image.width >= 960 %}data-allow-enlarge{% endif %}>
				<div class="case"></div>
				<div class="image-container">
					<img src="{{ image.url }}" draggable="false" {{ utils.srcset(image, 960) }} {{ utils.dataMaxSize(image, 960) }}>
				</div>
			</div>
		</div>
		<div class="tablet device">
			<div class="container" {% if feature.allowEnlarge and image.width >= 960 %}data-allow-enlarge{% endif %}>
				{% set image = feature.tabletScreen[0] %}
				<div class="case"></div>
				<div class="image-container">
					<img src="{{ image.url }}" draggable="false" {{ utils.srcset(image, 960) }} {{ utils.dataMaxSize(image, 960) }}>
				</div>
			</div>
		</div>
		<div class="mobile device">
			<div class="container" {% if feature.allowEnlarge and image.width >= 960 %}data-allow-enlarge{% endif %}>
				{% set image = feature.mobileScreen[0] %}
				<div class="case"></div>
				<div class="image-container">
					<img src="{{ image.url }}" draggable="false" {{ utils.srcset(image, 960) }} {{ utils.dataMaxSize(image, 960) }}>
				</div>
			</div>
		</div>
	</figure>
</section>